
body {
  background: white;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: lighter;
  margin:0;
  padding:0;

  .container{

    .player-selector-holder {
      background: gainsboro;
      padding: 10px;
      margin: 15px;
      font-size: 1em;
    }

    section {
      width: 100%;
      height: 280px;
      background: white;

      .player-image-holder {
        height:280px;
        width: 220px;
        .player-image {
          width: 100%;
          height: 100%;
        }
      }
    }

    footer {
      background: #EC0050;
      color: white;
      padding: 10px;

      .badge-holder {
        position: relative;
        background: white;
        width:100px;
        height:100px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;;
        top: -50px;
        float:right;
        overflow: hidden;

        .badge-background {
          width:100%;
          height:100%;
        }
      }

      .player-info-holder {
        margin: 10px 0 5px 10px;
        p {
          margin: 0 0 10px;
        }
        #player-name {
          font-size: 1.2em;
        }
      }

      .stats-holder{

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          width: 100%;
          li {
            height:25px;
            line-height: 25px;
            padding: 10px;
            width:90%;
            background-color: #EAEAEA;
            color: black;
            margin: 2px 0;

            .stat-value {
              display: inline-block;
              float: right;
              font-weight:bold;
            }
            .stat-label {
              float: left;
              display:inline-block;
            }
          }
        }
      }
    }
  }
}

.player-p2064 {
  background-image: url('../assets/p2064.png') !important;
  height: 100%;
}
.player-p4148 {
  background-image: url('../assets/p4148.png');
  height: 100%;
}
.player-p4246 {
  background-image: url('../assets/p4246.png');
  height: 100%;
}
.player-p4916 {
  background-image: url('../assets/p4916.png');
  height: 100%;
}
.player-p8983 {
  background-image: url('../assets/p8983.png');
  height: 100%;
}

.badge-1 {
  background: url('../assets/badges_sprite.png') 2300px 1000px;
  height:100%;
}
.badge-26 {
  background: url('../assets/badges_sprite.png') 0px 0px;
  height:100%;
}
.badge-21 {
  background: url('../assets/badges_sprite.png') 700px 2300px;
  height:100%;
}
.badge-12 {
  background: url("../assets/badges_sprite.png") 600px 2500px;
  height:100%;
}
.badge-11 {
  background: url('../assets/badges_sprite.png') 400px 2600px;
  height:100%;
}
